* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 100vh;
}

header {
  width: 100%;
  color: #f0f0f0;
  background-color: #282828;
}

nav {
  width: 100%;
}
nav .nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
nav .nav__container .link {
  display: flex;
  align-items: center;
  padding: 1rem;
  color: #f0f0f0;
  background-color: transparent;
  transition: background-color 300ms;
}
nav .nav__container .link.is-active {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 300ms;
}
nav .nav__container .link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 300ms;
}
nav .nav__container .links {
  max-width: 700px;
  display: flex;
  justify-content: space-around;
}

section {
  width: 100%;
  padding: 1rem;
  max-width: 800px;
  margin: auto;
}

h1 {
  display: flex;
}
h1 .in-h1 {
  padding: 0 1rem;
}

.create_profil {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 2rem 1rem;
}

form {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
form .row {
  padding: 1rem;
}
form input[type=submit] {
  padding: 0.5rem;
}

footer {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  color: #f0f0f0;
  background-color: #282828;
}
footer p {
  padding: 1rem;
}
