* {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: fit-content;
    min-height: 100vh;
}

header {
    width: 100%;
    color: rgb(240, 240, 240);
    background-color: rgba(40, 40, 40, 1);
}

nav {
    width: 100%;
    & .nav__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
        & .link {
            display: flex;
            align-items: center;
            padding: 1rem;
            color: rgb(240, 240, 240);
            background-color: transparent;
            transition: background-color 300ms;
            &.is-active {
                background-color: rgba(255, 255, 255, 0.1);
                transition: background-color 300ms;
            }
        }
        & .link:hover {
            background-color: rgba(255, 255, 255, 0.1);
            transition: background-color 300ms;
        }

        & .links {
            max-width: 700px;
            display: flex;
            justify-content: space-around;
        }
    }
}
h1 {
    display: flex;
    & .in-h1 {
        padding: 0 1rem;
    }
}
.create_profil {
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 2rem 1rem;
}

form {
    width: fit-content;
    & .row {
        padding: 1rem;
    }

    & input[type="submit"] {
        padding: 0.5rem;
    }
}

footer {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    color: rgb(240, 240, 240);
    background-color: rgba(40, 40, 40, 1);
    & p {
        padding: 1rem;
    }
}
